<main class="main">
  <div class="content">

    <div class="left side">
      <span class="title result">
        Your Result
      </span>

      <div class="circle">
        <span class="point">76</span>
        <small class="detail">of 100</small>
      </div>

      <span class="conclusion">Great</span>

      <span class="detail">
        You scored higher than 65% of the people who have taken these tests.
      </span>
    </div>

    <div class="right side">
      <span class="title">
        Summary
      </span>

      <div class="categories">
        <div class="item" [ngClass]="item.category" *ngFor="let item of data">
          <div class="item-left">
            <img [src]="item.icon" />
            <span>{{ item.category }}</span>
          </div>
  
          <span>
            {{ item.score }} / 100
          </span>
        </div>
      </div>

      <button>
        Continue
      </button>
    </div>
    
  </div>
</main>

<router-outlet />
